<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Donation History</title>
    <link rel="stylesheet" href="../css/donationHistory.css">
</head>

<body>
    <h1>Your Donation History</h1>
    <div id="history"></div>
    <button onclick="download()">Download Donation History CSV</button>
    <button onclick="logout()">Logout</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/donationHistory.js"></script>
</body>

</html>