<!-- Name,email,ph-no,paswrd,cnfrm paswrd  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <title>Document</title>
</head>

<body>
    <form action="" onsubmit="signup(event)" id="signupId">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <label for="number">Number:</label>
        <input type="number" name="number" id="number">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <label for="confirm">Confirm password:</label>
        <input type="text" name="confirm" id="confirm">

        <button type="submit">Signup</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <a href="/login">Back to Login</a>

    <script src="../js/signup.js"></script>
</body>

</html>